/********************
    @Import Google-Fonts
********************/

@import url('https://fonts.googleapis.com/css?family=Ubuntu|Barrio|Bubbler+One|Cinzel|Dancing+Script|El+Messiri|Lobster|Montserrat+Subrayada|Montserrat:900|Pacifico');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
  color: white;
	font-family: 'Shadows Into Light', cursive;
	font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  background-color: rgba(242, 231, 191, 0.7);
  border: 10px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}